<link rel="stylesheet" href="/css/personal_que.css">

<div class="qstn-container">

    <% if(locals.user){ %>
        
        <h2 style="margin: 7px; background-color: #9e372f; color: white; padding: 2px 5px;">Question Sent</h2>
    <div class="qstn-sent">
        <!-- Question Sent -->
        
        <% for(let i=0; i< specificPostSent.length; i++){ %>
            <div class="post">
    
                <div>
                    <textarea name="post-data" id="post-data" cols="55" rows="7" readonly style="resize: none; padding:5px; border:none; border-radius: 3px;box-shadow: inset 2px -1px 10px 0 rgba(0, 0, 0, 0.2),
                    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
                    "><%= specificPostSent[i].post %> </textarea>
                </div>
            
                <div id="post-btn">
                    <div>
                        <!-- likes -->
                        <% if(specificPostSent[i].like.includes(loggedUser._id)){ %>
                            <button id="like"><a href="/control/like/<%= specificPostSent[i]._id %>"><i class="fas fa-thumbs-up" style="color: rgb(114, 27, 27);"></i></a></button>
                            <span id="no"><%= specificPostSent[i].like.length %> </span>
                        <% }else{ %>
                            <button id="like"><a href="/control/like/<%= specificPostSent[i]._id %>"><i class="fas fa-thumbs-up" style="color: grey;"></i></a></button>
                            <span id="no"><%= specificPostSent[i].like.length %></span>
                        <% } %> 
                        
                    </div>
                    <div>
                        <!-- dislike -->
                        <% if(specificPostSent[i].dislike.includes(loggedUser._id)){ %>
                            <button id="dislike"><a href="/control/dislike/<%= specificPostSent[i]._id %>"><i class="fas fa-thumbs-down" style="color: rgb(114, 27, 27);"></i></a></button>
                            <span id="no"><%= specificPostSent[i].dislike.length %></span>
                        <% }else{ %>
                            <button id="dislike"><a href="/control/dislike/<%= specificPostSent[i]._id %>"><i class="fas fa-thumbs-down" style="color: gray;"></i></a></button>
                            <span id="no"><%= specificPostSent[i].dislike.length %></span>
                        <% } %> 
                        
                    </div>
                    <div>
                        <!-- go to  post -->
                        <a href="/post/view/<%= specificPostSent[i]._id %>" id="goto"><i class="fas fa-arrow-right" style="font-size: larger;"></i></a>
                    </div>
                </div>
                <div id="tag">
                    <ul>
                        <% for(let k=0; k<specificPostSent[i].interest.length; k++){ %>
                            <li id="tag-list">
                                <code> #<%= (specificPostSent[i].interest[k]) %> </code>
                                
                            </li>
                        <% } %> 
                    </ul>
                        
                </div>

                <div id="post-author">
                    <span>
                        <%= specificPostSent[i].user.first_name %> <%= specificPostSent[i].user.second_name %> 
                    </span>
                </div>
            
            </div>
        <% } %> 

    </div>
    <br>
<hr>
    <h2 style="margin: 7px; background-color: #9e372f; color: white; padding: 2px 5px;">Question Received</h2>
    <div class="qstn-recieved">
        <!-- Question Received -->
        <% for(let i=0; i< postRecieved.length; i++){ %>
            <div class="post">
    
                <div>
                    <textarea name="post-data" id="post-data" cols="55" rows="7" readonly style="resize: none; padding:5px; border:none; border-radius: 3px;box-shadow: inset 2px -1px 10px 0 rgba(0, 0, 0, 0.2),
                    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
                    "><%= postRecieved[i].post %> </textarea>
                </div>
            
                <div id="post-btn">
                    <div>
                        <!-- likes -->
                        <% if(postRecieved[i].like.includes(loggedUser._id)){ %>
                            <button id="like"><a href="/control/like/<%= postRecieved[i]._id %>"><i class="fas fa-thumbs-up" style="color: rgb(114, 27, 27);"></i></a></button>
                            <span id="no"><%= postRecieved[i].like.length %> </span>
                        <% }else{ %>
                            <button id="like"><a href="/control/like/<%= postRecieved[i]._id %>"><i class="fas fa-thumbs-up" style="color: grey;"></i></a></button>
                            <span id="no"><%= postRecieved[i].like.length %></span>
                        <% } %> 
                        
                    </div>
                    <div>
                        <!-- dislike -->
                        <% if(postRecieved[i].dislike.includes(loggedUser._id)){ %>
                            <button id="dislike"><a href="/control/dislike/<%= postRecieved[i]._id %>"><i class="fas fa-thumbs-down" style="color: rgb(114, 27, 27);"></i></a></button>
                            <span id="no"><%= postRecieved[i].dislike.length %></span>
                        <% }else{ %>
                            <button id="dislike"><a href="/control/dislike/<%= postRecieved[i]._id %>"><i class="fas fa-thumbs-down" style="color: gray;"></i></a></button>
                            <span id="no"><%= postRecieved[i].dislike.length %></span>
                        <% } %> 
                        
                    </div>
                    <div>
                        <!-- go to  post -->
                        <a href="/post/view/<%= postRecieved[i]._id %>" id="goto"><i class="fas fa-arrow-right" style="font-size: larger;"></i></a>
                    </div>
                </div>
                <div id="tag">
                    <ul>
                        <% for(let k=0; k<postRecieved[i].interest.length; k++){ %>
                            <li id="tag-list">
                                <code> #<%= (postRecieved[i].interest[k]) %> </code>
                                
                            </li>
                        <% } %> 
                    </ul>
                        
                </div>

                <div id="post-author">
                    <span>
                        <%= postRecieved[i].user.first_name %> <%= postRecieved[i].user.second_name %> 
                    </span>
                </div>
            
            </div>
        <% } %> 
    </div>
        
    <% } %> 

</div>